<div class="col-xl-5 col-lg-6 mt-auto mb-auto">
    <div class="main_title_1 text-center">
        <div class="card bg-transparent shadow p-4">
            <div class="card-title">
                <h3 style="font-size: 20px;">
                    Kitap Ekle
                </h3>
            </div>
            <div class="card-body">
                <form id="add_book_form">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Kitap Adı" name="name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Sosyal Medya" name="social">
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <input type="text" class="form-control" placeholder="Kitap Linki" name="link">
                    </div>
                    <div class="card-footer mt-4">
                        <button class="btn btn-warning" type="submit">Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-7 col-lg-6 mt-auto mb-auto">
    <table class="table">
        <thead class="text-white text-center">
            <tr>
                <th scope="col">Kitap Adı</th>
                <th scope="col">İşlem</th>
            </tr>
        </thead>
        <tbody class="text-white text-center">
            {{#each data}}
            <tr>
                <td>
                    {{this.name}}
                </td>
                <td>
                    <a href="/book/delete/{{this.id}}" class="btn btn-danger btn-sm">
                        Sil
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#add_book_form').submit(function (e) {
            e.preventDefault()

            $.ajax({
                url: '/book',
                method: 'POST',
                data: $(this).serialize(),
                success: function (data) {
                    if (data === 'success') {
                        Swal.fire({
                            icon: 'success',
                            title: 'Başarılı',
                            text: 'Websitesi başarıyla eklendi.'
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Hata',
                            text: 'Websitesi eklenirken bir hata oluştu.'
                        })
                    }
                }
            })
        })
    })
</script>