<div class="col-xl-6 col-lg-6 d-flex align-items-center">
    <div class="main_title_1 text-center">
        <h3><img src="img/main_icon_1.svg" width="80" height="80" alt=""> Slotistan Telegram Bot</h3>
        <p>
            Telegram bot uylamasına hoş geldiniz. URL Kimse ile paylaşmayınız.
        </p>
    </div>
</div>
<!-- /col -->
<div class="col-xl-5 col-lg-5">
    <div id="wizard_container">
        <div id="top-wizard">
            <div id="progressbar"></div>
        </div>
        <!-- /top-wizard -->
        <form id="wrapped" method="POST" autocomplete="off">
            <input id="website" name="website" type="text" value="">
            <!-- Leave for security protection, read docs for details -->
            <div id="middle-wizard">
                <img src="/public/img/banner.png" alt="" class="img-fluid">
            </div>
        </form>
    </div>
    <!-- /Wizard container -->
</div>
<!-- /col -->